.container{
    background-color: whitesmoke;
    border : 5px solid black;
    border-radius: 4px;
    margin : 20px;
    padding : 20px;
}
.heading{
    background-color: red;
    color: white;
    padding : 20px;
    border: none;
    font-size: 75px;
    text-align: center;
}

.col-50{
     display : inline;
}
.row{
    display: flex;
    justify-content: space-evenly;
}

input{
    outline : none;
    border: none;
    /* border-width: 0 0 2px solid;  */
    border-bottom: 3px solid black;
    /* width: 100%; */
    font-size: 55px;   
}
label-row{
    margin: 0 0 5px 5px;
    display: inline;
    
}
.fname{
    font-size: 50px;
    display: inline;
    margin: 0 50px 5px 20px;
    
}
.lname{
    font-size: 50px;
    display: inline;
    margin: 0 30px 5px 415px;    
}

.row1{
    display: flex;
    margin-left: 25px;
}
#add{
    font-size: 110px;
    
}
.address{
    font-size: 55px;
    display: inline;
    margin: 0 50px 5px 20px;
}
.row2{
    display: flex;
    /* justify-content: space-around; */
    /* margin-left: 20px; */
}
#city{
    font-size: 40px;
    width: 75%;
    margin: 5px 50px 5px 25px;
    
}
#state{
    font-size: 40px;
    margin: 5px 5px 5px 10px;
    width: 50%;
}
#zip{
    font-size: 40px;
    margin: 5px 5px 5px 10px;
    width: 75%;
}


.city{
    font-size: 55px;
    display: inline;
    margin: 0 50px 5px 20px;
    
}
.state{
    font-size: 50px;
    display: inline;
    margin: 0 30px 5px 350px;    
}
.zip{
    font-size: 50px;
    display: inline;
    margin: 0 0 5px 320px;    
}

.row3{
    font-size: 70px;
    display: inline;
    margin: 0px 50px 5px 20px;
}
.checkbox{
    font-size: 56px;
    display: inline;
    margin: 0px 50px 5px 20px;
}

.row4{
    font-size: 75px;
    display: inline;
    margin: 0px 50px 5px 20px;
}

.row5{
    /* font-size: 75px; */
    display: block;
    margin: 0px 50px 5px 20px;
}

.checkbox1{
    font-size: 70px;
    display: block;
    margin: 0px 50px 5px 20px;
}

.csize{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

  





